[Unit]
Description=Launch a weekly journal to plan the upcoming week

[Timer]
OnCalendar=Sat *-*-* 7:00:00
Persistent=true

[Install]
WantedBy=timers.target
