# /etc/systemd/system/dream.service

[Unit]
Description=launch dream journal
Wants=dream.timer
PartOf=graphical-session.target

[Service]
Type=forking
WorkingDirectory=%h/Workspace/Writing/writing_tools
ExecStart=%h/Workspace/Writing/writing_tools/Journal_Launcher dream_journal.md

[Install]
WantedBy=default.target
