# /etc/systemd/system/dream.service

[Unit]
Description=launch dream journal
Wants=dream.timer
PartOf=graphical-session.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/daedalus/.Xauthority"
Type=forking
WorkingDirectory=%h/workspace/System_Tools/writing_tools
ExecStart=%h/workspace/System_Tools/writing_tools/Journal_Launcher dream_journal.md

[Install]
WantedBy=default.target
