# /etc/systemd/system/journal.service

[Unit]
Description=launch daily journal
Wants=journal.timer
PartOf=graphical-session.target

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/daedalus/.Xauthority"
EnvironmentFile=%E/environment.d/100-dir.conf
Type=forking
WorkingDirectory=%h/workspace/System_Tools/writing_tools
ExecStart=%h/workspace/System_Tools/writing_tools/Journal_Launcher journal.md


[Install]
WantedBy=default.target
