# /etc/systemd/system/journal.service

[Unit]
Description=launch daily journal
Wants=journal.timer
PartOf=graphical-session.target

[Service]
#EnvironmentFile=%E/environment.d/100-dir.conf
Type=forking
WorkingDirectory=%h/Workspace/Writing/writing_tools
ExecStart=%h/Workspace/Writing/writing_tools/Journal_Launcher journal.md


[Install]
WantedBy=default.target
