# /etc/systemd/system/launch_writing_task.service

[Unit]
Description=Runs bash script to create directories based off date and create daily writing tasks
Wants=launch_writing_task.timer

[Service]
Type=oneshot
User=daedalus
WorkingDirectory=/home/daedalus/github/daily_practice/
ExecStart=/home/daedalus/github/daily_practice/launch_writing_task


[Install]
WantedBy=multi-user.target
