# $HOME/.config/systemd/user/launch_writing_task.service

[Unit]
Description=Runs bash script to create directories based off date and create daily writing tasks
Wants=launch_writing_task.timer

[Service]
Type=oneshot
WorkingDirectory=%h/workspace/System_Tools/writing_tools
ExecStart=%h/workspace/System_Tools/writing_tools/launch_writing_task


[Install]
WantedBy=default.target
