# $HOME/.config/systemd/user/launch_writing_task.service

[Unit]
Description=create directories based off date and create daily writing tasks
Wants=launch_writing_task.timer

[Service]
Type=oneshot
WorkingDirectory=%h/Workspace/Writing/writing_tools
ExecStart=%h/Workspace/Writing/writing_tools/launch_writing_task


[Install]
WantedBy=default.target
