[Unit]
Description=launch semi-annual journal
Wants=journal.timer
PartOf=graphical-session.target

[Service]
#EnvironmentFile=%E/environment.d/100-dir.conf
#changing from forking to simple to avoid timeout error
Type=simple
WorkingDirectory=%h/Workspace/Writing/journaling_tools
ExecStart=/usr/bin/python %h/Workspace/Writing/journaling_tools/journal.py -l semi-yearly


[Install]
WantedBy=default.target
