# /etc/systemd/system/template.service

[Unit]
Description=Runs shopify recent scraper
Wants=shopify-recent.timer

[Service]
ExecStart=/usr/local/bin/ /app/shoes-scraper/src/scraper --recent --platform shopify
WorkingDirectory=/app/shoes-scraper #directory to be executed from
# Slice=shoes-scraper.slice
# slice files will be useful for shit like my pomodoro timer and motion detection
# script, it allows you to designate cpu usage and such

[Install]
WantedBy=multi-user.target
